<div class='table-wrapper'>
  <table [ngClass]="{'timesheet-table': true}">
    <thead>
      <th class='column-head'>Charge Code</th>
      <th *ngFor="let day of days | EnumKeys" class='column-head'>
        <p>{{day.value}}</p>
      </th>
      <th class="column-head">
        Total
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let charge of chargeCodeRows | ArraySortById" class='timesheet-table-row'>
        <td [ngClass]="{'charge-code-cell': true}">
          {{ charge.id }}
        </td>
        <td [ngClass]="{'day-cell': true}">
          <p>
            {{ charge.Sunday | number : '1.2-2' }}
          </p>
        </td>
        <td [ngClass]="{'day-cell monday-cell': true}">
          <p>
            {{ charge.Monday | number : '1.2-2' }}
          </p>
        </td>
        <td [ngClass]="{'day-cell': true}">
         <p>
            {{ charge.Tuesday | number : '1.2-2' }}
          </p>
        </td>
        <td [ngClass]="{'day-cell': true}">
          <p>
            {{ charge.Wednesday | number : '1.2-2' }}
          </p>
        </td>
        <td [ngClass]="{'day-cell': true}">
          <p>
            {{ charge.Thursday | number : '1.2-2' }}
          </p>
        </td>
        <td [ngClass]="{'day-cell': true}">
          <p>
            {{ charge.Friday | number : '1.2-2' }}
          </p>
        </td>
        <td [ngClass]="{'day-cell': true}">
          <p>
            {{ charge.Saturday | number : '1.2-2' }}
          </p>
        </td>
        <td [ngClass]="{'total-cell': true}">
          <p>
            {{ charge.total | number : '1.2-2' }}
          </p>
        </td>
      </tr>
      <tr class="timesheet-table-row">
        <td>
          Total: 
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          {{ total | number : '1.2-2' }}
        </td>
      </tr>
    </tbody>
  </table>
</div>