.table-wrapper {    
    padding: 20px;
}
.timesheet-table {
    border: solid;
    padding: 10px;
    margin: 0;
}
.column-head {
    padding-left: 10px;
    padding-right: 10px;
    border: solid;
    border-collapse: collapse;
}
.timesheet-table-row {    
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border: solid;
}
.timesheet-table-row:nth-child(odd) {
    background: lightgray;
}
.charge-code-cell {
    color: blueviolet;
}
